body {
    background-color: #a98be9;
    color: #1F2937;
    font-family: Arial, sans-serif;
}

h1 {
    color: #2563EB;
    text-align: center;
}

button {
    background-color: #703583;
    color: white;
}