body {
    background-color: #b2b9bf;
    color: #1F2937;
    font-family: Arial, sans-serif;
}

h1 {
    color: #2563EB;
    text-align: center;
}

p{
    color: #1F2937;
} 


button {
    background-color: #10B981;
    color: white;
}