<!DOCTYPE html>
<html>
<head>
    <title>Placement Readiness Analyzer</title>
</head>
<body>

<h2>Placement Readiness Analyzer</h2>

<form id="form">
    <input type="number" id="cgpa" placeholder="CGPA"><br><br>
    <input type="text" id="skill" placeholder="Skill"><br><br>
    <input type="number" id="projects" placeholder="Projects"><br><br>
    <input type="number" id="certifications" placeholder="Certifications"><br><br>
    <input type="number" id="internships" placeholder="Internships"><br><br>

    <button type="button" onclick="analyze()">Analyze</button>
</form>

<div id="result"></div>

<script>
function analyze() {
    fetch("/analyze", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            cgpa: parseFloat(document.getElementById("cgpa").value),
            skill: document.getElementById("skill").value,
            projects: parseInt(document.getElementById("projects").value),
            certifications: parseInt(document.getElementById("certifications").value),
            internships: parseInt(document.getElementById("internships").value)
        })
    })
    .then(res => res.json())
    .then(data => {
        document.getElementById("result").innerHTML =
            "<h3>Score: " + data.score + "</h3>" +
            "<h3>Readiness: " + data.readiness + "</h3>" +
            "<p>Strengths: " + data.strength + "</p>" +
            "<p>Weakness: " + data.weakness + "</p>" +
            "<p>Recommendations: " + data.recommendations + "</p>";
    });
}
</script>
<script src="scripts.js"></script>

</body>
</html>