<!DOCTYPE html>
<html>
<head>
    <title>Placement Readiness Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

<h2>Placement Readiness Analyzer</h2>

<form id="form">
    <input type="number" id="cgpa" placeholder="CGPA"><br><br>
    <input type="text" id="skill" placeholder="Skill"><br><br>
    <input type="number" id="projects" placeholder="Projects"><br><br>
    <input type="number" id="certifications" placeholder="Certifications"><br><br>
    <input type="number" id="internships" placeholder="Internships"><br><br>

    <button type="button" onclick="analyze()">Analyze</button>
</form>

<div id="result"></div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>